<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>Title</title>
</head>
<body>
<h1>Ajouter une recette</h1>
<form th:action="@{/recipes}" th:object="${recipe}" method="post">
    <input type="text" th:field="*{title}" name="title" id="title">
    <input type="text" th:field="*{description}" name="description" id="description">
    <h4>Ingrédients</h4>
<!--    TODO ajouter du javascript -->
<!--    <input type="text" name="" id="">-->
    <button>Submit</button>
</form>

</body>
</html>