<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <span th:replace="~{home::bootstrap-import}"></span>
    <title>Title</title>
</head>
<body>
<span th:replace="~{home::header}"></span>
<main class="container">
    <form th:action="@{/recipes}" th:object="${recipe}" method="post">
        <input type="text" th:field="*{title}" name="title" id="title">
        <input type="text" th:field="*{description}" name="description" id="description">
        <select th:field="*{category}">
            <option th:each="c : ${categories}"
                    th:value="${c.getId()}"
                    th:text="${c.getName()}"
                    th:selected="${recipe.category != null && c.getId() == recipe.category.getId()}"
            ></option>
        </select>
        <div>
                <div id="ingredients-list">
                <th:block th:if="${recipe.id != 0}">
<!--                    <div class="test" th:each="i : ${recipe.getIngredients()}">-->
<!--                        <input type="text" name="ingredients" th:field="*{ingredients[${recipe.getIngredients().indexOf(i)}].name}" required />-->
<!--                    </div>-->
                </th:block>
                <th:block th:if="${recipe.id == 0}">
                    <div class="test">
                        <input type="text" name="ingredients" th:field="*{ingredients[0].name}" required />
                    </div>
                </th:block>
                </div>
                <a id="ingredients-btn">add</a>
            </div>
            <div>
                <div id="steps-list">
                    <input type="text" name="steps" id="steps" th:field="*{steps[0].description}" required />
                </div>
                <a id="steps-btn">add</a>
            </div>
        <button>Submit</button>
    </form>
</main>
<script>
    const addInput = (id, fieldname) => {
        const element = document.getElementById(id)
        const childrenCnt = element.children.length
        const bearer = document.createElement("div")
        const input = document.createElement("input")
        const removeBtn = document.createElement("a")
        removeBtn.className = "btn btn-outline-warning"
        removeBtn.textContent = "remove"
        removeBtn.addEventListener("click", ({target}) => target.parentElement.remove())
        bearer.className = "test"
        input.type = "text"
        input.name = `${id.split("-")[0]}[${childrenCnt}].${fieldname}`
        bearer.appendChild(input)
        bearer.appendChild(removeBtn)
        element.appendChild(bearer)
    }
    document.getElementById("ingredients-btn").addEventListener("click", () => addInput("ingredients-list", "name"))
    document.getElementById("steps-btn").addEventListener("click", () => addInput("steps-list", "description"))

</script>
</body>
</html>