<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <span th:replace="~{home::bootstrap-import}"></span>
    <title>Recette</title>
</head>
<body>
    <span th:replace="~{home::header}"></span>

<!--<th:block th:object="${recipe}">-->
<!--    <h3 th:text="*{title}"></h3>-->
<!--    <p th:text="*{description}"></p>-->
<!--</th:block>-->
    <h3 th:text="${recipe.title}"></h3>
    <p th:text="${recipe.description}"></p>
    <h4>Ingredients :</h4>
    <p th:text="${recipe.ingredients}"></p>

    <h4>Etapes</h4>
    <p th:text="${recipe.steps}"></p>
    <a th:href="@{/recipes/update/{id}(id=${recipe.id})}">Modifier la recette</a>

</body>
</html>