html, body, * {
    background-color: #171717;
    font-family: Arial, "SansSerif", serif;
    text-align: center;
}
h1, h2, h3 {
    color: chartreuse;
}
a {
    color: #ececec;
}
a:hover {
    font-weight: bold;
    text-decoration: none;
}