<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h1>Liste des patients</h1>
    <form th:action="@{/patients}" method="get">
        <input type="text" name="search" id="search">
        <button><label for="search">rechercher</label></button>
    </form>

    <table>
        <thead>
        <tr>
            <th>N°</th>
            <th>Prénom</th>
            <th>Nom</th>
            <th colspan="2">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="p : ${patientList}">
            <td th:text="${p.getId()}"></td>
            <td th:text="${p.getFirstName()}"></td>
            <td th:text="${p.getLastName()}"></td>
            <td><a th:href="@{/patients/{id}(id=${p.getId()})}"> Détails du patient</a></td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/patients/new}">Ajouter un nouveau patient</a>
</body>
</html>