<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{index::bootstrap-import}"></th:block>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="min-vh-100 bg-dark bg-gradient text-light">
<th:block th:replace="~{index::header}"></th:block>
<main class="container p-2 mt-4">
    <h2 class="text-center" th:text="${furniture.id != 0} ? 'Modifier un produit' : 'Ajouter un produit'"></h2>
    <div class="w-50 m-auto">
        <form th:action="@{/furnitures}" th:object="${furniture}" method="post">
            <input th:if="${id != 0}" type="hidden" name="id" th:field="*{id}">
            <div class="mb-2">
                <label for="name" class="d-block text-center">Nom :</label>
                <div class="input-group mt-1">
                    <input class="form-control" type="text" name="name" id="name" th:field="*{name}">
                </div>
            </div>
            <div class="mb-2">
                <label for="description" class="d-block text-center">Description :</label>
                <div class="input-group mt-1">
                    <textarea style="resize: none" class="form-control" name="description" id="description" th:field="*{description}"></textarea>
                </div>
            </div>
            <div class="mb-2">
                <label for="price" class="d-block text-center">Prix :</label>
                <div class="input-group mt-1">
                    <input class="form-control" style="appearance: textfield" type="number" min="0" step="0.01" name="price" id="price" th:field="*{price}">
                </div>
            </div>
            <div class="mb-2">
                <label for="stock" class="d-block text-center">Stock :</label>
                <div class="input-group mt-1">
                    <input class="form-control" style="appearance: textfield" type="number" min="1" step="1" name="stock" id="stock" th:field="*{stock}">
                </div>
            </div>
            <hr class="separator">
            <button class="btn btn-outline-light w-100 mt-4" th:text="${furniture.id != 0} ? 'Modifier' : 'Ajouter'"></button>
        </form>
    </div>
</main>

</body>
</html>