<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{index::bootstrap-import}"></th:block>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body  class="min-vh-100 bg-dark bg-gradient text-light">
<th:block th:replace="~{index::header}"></th:block>

<main class="container p-2 mt-4">
    <table class="table table-dark" th:if="${!furnitures.isEmpty()}">
        <thead>
            <tr>
                <th>#</th>
                <th>Nom du produit</th>
                <th>Prix</th>
                <th>Stock disponible</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="f : ${furnitures}" th:object="${f}">
                <td th:text="*{id}"></td>
                <td th:text="*{name}"></td>
                <td th:text="*{price}"></td>
                <td th:text="*{stock}"></td>
                <td>
                    <a class="link-light" th:href="@{/furnitures/{id}(id=${f.id})}">Voir le détail</a>
                </td>
            </tr>
        </tbody>
    </table>
    <h3 th:if="${furnitures.isEmpty()}">Il n'y a pas de produit disponible</h3>
    <div class="d-flex justify-content-end">
        <a th:href="@{/furnitures/new}" class="link-light d-block">Ajouter un produit</a>

    </div>
</main>

</body>
</html>